h2{
    color: rgba(220, 20, 60, 0.822);
    margin-left: 10%;
}
.card-div{
    max-width: 80%;
    overflow-y: hidden !important;
    /* margin-bottom: 2.5rem; */
    margin: 1.5rem auto;
}
.detImg {
    max-width: 45%;
}
.detPara{
    padding: 30px;
    font-size: x-large;
}
.fastFacts {
    margin-top: 40px;
    border-top: 2px solid red;
    color: red;
}
.cFacts {
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
}